@font-face {
    font-family: 'FedEx Sans';
    src: url(FedExSans_Rg.ttf);
}
html {
	overflow: inherit !important;
}

#nuanMessagingFrame {
  position: fixed;
  z-index: 999999; 
}

.nuance-chat-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    transition: transform 250ms ease-out, opacity 250ms ease-out,box-shadow 250ms ease-out;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    z-index: -1;
    outline:none;
}

/*
.nuance-chat-button.ready, .nuance-chat-button.disabled {
    background: #183850; /* Old browsers * /
    background: -moz-linear-gradient(top,  #183850 0, #183850 25%, #192c46 50%, #22254c 75%, #22254c 100%); /* FF3.6-15 * /
    background: -webkit-linear-gradient(top,  #183850 0,#183850 25%,#192c46 50%,#22254c 75%,#22254c 100%); /* Chrome10-25,Safari5.1-6 * /
    background: linear-gradient(to bottom,  #183850 0,#183850 25%,#192c46 50%,#22254c 75%,#22254c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ * /
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#183850', endColorstr='#22254c',GradientType=0 ); /* IE6-9 * /
}
*/

.nuance-chat-button.ready, .nuance-chat-button.disabled, .nuance-chat-button.minimized {
    background: #237ACD;
}


.nuance-chat-button.animate {
    transform: translateY(70px);
    opacity: 0;
}

.nuance-chat-button.animate.enter {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.14);
}




/*
.nuance-chat-button.animate {
    opacity: 0;
}

.nuance-chat-button.animate.enter {
    opacity: 1 !important;
}
*/


/*
.nuance-chat-button.animate span {
    opacity: 0;

}

.nuance-chat-button.animate.enter span {

}
*/

.nuance-chat-button .chat-icon {
    display:inline-block;
    width: 21px;
    height: 21px;
    box-shadow: inset 0 0 0 32px;
    border-radius: 50%;
    margin: 1px 1px 2px 2px;
    position: relative;
   /*  -webkit-animation: chatstater 500ms forwards;
    animation: chatstater 500ms forwards; */
}

.nuance-chat-button .chat-close {
    width: 30px;
    height: 30px;
    margin: 2px;
    transform: rotate(45deg);
    display:inline-block;
    position: relative;

   /*  -webkit-animation: chatstated 500ms forwards;
    animation: chatstated 500ms forwards; */

}

.nuance-chat-button .chat-minimize {
    display:inline-block;
    position: relative;
    width: 12px;
    height: 20px;
    margin: 7px 11px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

@keyframes chatstater {
  from {
    opacity: 0;
    transform:rotate(90deg)
  }

  to {
    opacity: 1;
    transform:rotate(0deg)
  }
}

@keyframes chatstated {
  from {
    opacity: 0;
    transform:rotate(135deg)
  }

  to {
    opacity: 1;
    transform:rotate(45deg)
  }
}

.nuance-chat-button .chat-icon:after,.nuance-chat-button .chat-icon:before,.nuance-chat-button .chat-close:after,.nuance-chat-button .chat-close:before,
.nuance-chat-button .chat-minimize:after, .nuance-chat-button .chat-minimize:before  {
    content: '';
    pointer-events: none;
}

.nuance-chat-button .chat-icon:after,.nuance-chat-button .chat-icon:before {
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 10px solid;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    left: -5px;
    top: 10px;
}

.nuance-chat-button .chat-close:before {
    width: 20px;
    height: 2px;
}

.nuance-chat-button .chat-close:after {
    width: 2px;
    height: 20px;
}

.nuance-chat-button .chat-close:before, .nuance-chat-button .chat-close:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: inset 0 0 0 32px;
}
.nuance-chat-button .chat-minimize:before ,.nuance-chat-button .chat-minimize:after {
    width: 14px;
    height: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 2px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform-origin: right;
    transform-origin: right;
}
.nuance-chat-button .chat-minimize:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nuance-chat-button .chat-minimize:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nuan-flyin-opener {
    background-color: #fff;
    border-radius: 12px;
    bottom: 0;
    box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    position: fixed;
    width: 360px;
    transition: all 1s linear;
    opacity: 0;
}

#nuance-fab-container .aria-reader,
.nuance-chat-button .aria-reader {
  font-size: 0;
  width: 0px;
  height: 0px
}

@media (min-width: 320px) and (max-width: 480px) {
    .nuan-flyin-opener {
        width: 300px;
    }
}

.nuan-flyin-opener .flyinOpenerContainer {
    box-shadow: 0 -5px 20px 1px rgba(0, 0, 0, .03) inset;
    display: flex;
    align-items: center;
    padding-top: 12px;
    transition: opacity 1s linear;
}

.flyinOpenerContainer:last-child {
    padding-bottom: 12px;
}

.flyinOpenerContainer.animate {
    opacity: 0;
}

.nuan-flyin-opener.enter, .flyinOpenerContainer.enter {
    opacity: 1;
    right: 10px;
    bottom: 120px;
}

.nuan-flyin-opener .flyInMsgAwatarCont {
   padding-left: 14px;
}

.nuan-flyin-opener .flyInMsgAwatar {
    position: relative;
    border: .5pt solid rgba(0, 0, 0, .10);
    border-radius: 50%;
}

.flyin-bubble-msg-container {
    margin-right:10px;
    flex-grow: 2;
    margin-left: 10px;
}
.flyInHeader {
    color: rgba(0, 0, 0, .50);
    font-size: 8pt;
    margin-bottom: 4px;
    margin-left: 12px;
    margin-top:10px;
    max-width: 260px;
}

.flyin-bubble-text {
    background-color: #79C7C5;
    border-radius: 1.3em;
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    font-size: 11pt;
    padding: 8px 12px;
    text-align: left;
    word-wrap: break-word;
    height: 100%;
}
.nuan-flyin-opener .closeBtnCont {
    position: absolute;
    right: 12px;
    top: 6px;
}

.flyin-close-btn {
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 18pt;
    justify-content: center;
    outline: none;
    width: 18pt
}

.flyin-widget {
  border-top: 1px solid #80808026;
}

.nuance-chat-button .badge {
  background: radial-gradient( 5px -9px, circle, white 8%, #cc2311 26px );
  background: -moz-radial-gradient( 5px -9px, circle, white 8%, #cc2311 26px );
  background: -ms-radial-gradient( 5px -9px, circle, white 8%, #cc2311 26px );
  background: -o-radial-gradient( 5px -9px, circle, white 8%, #cc2311 26px );
  background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #cc2311 26px );
  background-color: #cc2311;
  border:3px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 5% 5%;
  position: absolute;
  right: -5.8px;
  top: -9px;
  float: right;
  display: block;
}

.nuance-chat-button .message-count {
  position: relative;
  display: block;
  font: bold 14px/13px Helvetica, Verdana, Tahoma;
  text-align: center;
  margin: 0;
  top: 2px;
}

.nuance-chat-button .badge.bounce {
    animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}


/**FAB start **/
#nuance-fab-container * {
    box-sizing: border-box;
    font-family: 'FedEx Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#nuance-fab-container {
    align-self: flex-end;
    bottom: 22px;
    display: flex;
    height: 62px;
    max-width: 375px;
    position: fixed;
    right: 24px;
}

#nuance-fab-container .nuance-fab-main {
    background: #4d148c  center no-repeat;
    background-image: linear-gradient(270deg, #4d148c  0%, #4d148c  100%);
    border-radius: 32px;
    background-position: -2px -2px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    font-size: 0;
    font-weight: bold;
    margin: auto 2px;
    height: 56px;
    width: 80px;
    outline: 0;
    padding-right: 16px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    z-index: 2;
    border: 2px solid transparent;
    padding: 0px 24px 0 0;
}

#nuance-fab-container .nuance-fab-main:focus {
    outline: 0;
}
#nuance-fab-container:focus-visible {
    outline: 0;
}

#nuance-fab-container:focus-within {
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

#nuance-fab-container .nuance-fab-main:before {
    background: url("lotus_c2c.svg") no-repeat;
    content: "";
    background-size: contain;
    background-repeat:   no-repeat;
    background-position: center center;
    display: block;
    height: 27px;
    left: 18px;
    top: 13px;
    position: absolute;
    width: 40px;
}

#nuance-fab-container .nuance-fab-main.fab-init {
    animation: 1.5s bounce, 60s fab-load infinite;
}

#nuance-fab-container .nuance-fab-main.busy-state {
    animation: none;
    background: #b5b5b3 center no-repeat;
    background-image: linear-gradient(270deg, #848383 0%, #dcdcdc 100%);
    opacity: 0.7;
}

#nuance-fab-container .nuance-fab-main.fab-typing:before {
    background-repeat: none;
    background-size: 130% 100%;
    background-image: url("lotus_typing_white.gif");

}

#nuance-fab-container .nuance-fab-sub {
    display: none !important;
    align-items: center;
    display: flex;
    height: 100%;
    padding-right: 8px;
    overflow: hidden;
}

/* Hide FAB sub buttons on mobile */
@media (max-height:900px) and (max-width: 500px), (max-width:900px) and (max-height: 500px), (max-height: 647px) {
    #nuance-fab-container .nuance-fab-sub {
        display: none;
		visibility: none;
    }
}

#nuance-fab-container .nuance-fab-sub button {
    align-items: center;
    animation: 4s fab-arrival;
    background: #4c2e8d center/20px no-repeat;
    border: 0;
    border-radius: 24px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 0px;
    font-weight: bold;
    height: 48px;
    margin-right: 8px;
    outline: 0;
    overflow: hidden;
    padding-left: 14px;
    position: relative;
    transition: transform .25s ease-out, width .35s ease-out;
    width: 48px;
    white-space: nowrap;
    border: 2px solid transparent;
}

#nuance-fab-container .nuance-fab-sub button:focus {
  border: 2px solid black;
}

/* #nuance-fab-container .nuance-fab-sub button{
    animation: none;
} */

#nuance-fab-container .nuance-fab-sub button:not(.fab-init):hover,
#nuance-fab-container.fab-expand .nuance-fab-sub button{
    font-size: 16px;
    transition: 0s font-size .2s, width .35s ease-out;
    width: 124px;
}

#nuance-fab-container .nuance-fab-sub button:before {
    background: url("lotus_c2c_minimize.svg") no-repeat;
    background-size: cover;
    content: "";
    display: block;
    left: -4px;
    top: -1px;
    position: relative;
    height: 25px;
    width: 25px;
    overflow: hidden;
}

#nuance-fab-container .nuance-fab-sub button.nuance-fab-close:before {
    background: url("lotus_c2c_close.svg") no-repeat;
}

#nuance-fab-container.fab-minimized .nuance-fab-sub button {
    animation-duration: 0s;
    transform: translateX(300%);
}

#nuance-fab-container .badge {
  background-color: #ac4a49;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  right: -6px;
  top: -6px;
  display: block;
}

#nuance-fab-container .badge.badge-hidden {
    display: none;
}

#nuance-fab-container .message-count {
  position: relative;
  display: block;
  color: white;
  font: bold 13px Verdana, "sans-serif";
  margin: 0;
  top: 3px;
}

.badge.bounce {
    animation: bounce 1s ease-out 3;
}


@keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -8px, 0);
    -ms-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes fab-load {
    0% {
        width: 80px;
        color: transparent;
    }
    10% {
        width: 80px;
        font-size: 0;
    }
    17% {
        width: 80px;
    }
    20% {
        width: 168px;
    }
    20.01% {
        font-size: 14px;
        color: transparent;
    }
    22% {
        color: #ffffff;
    }
    78% {
        color: #ffffff;
    }
    78.1% {
        width: 168px;
        font-size: 14px;
        color: transparent;
    }
    82% {
        width: 80px;
        font-size: 0;
    }
    100% {
        width: 80px;
        color: transparent;
    }
}

@keyframes fab-arrival {
    from {
        transform: translateX(200%);
        width: 48px;
    }
    1% {
        color: #ffffff;
        font-size: 14px;
    }
    10% {
        transform: translateX(0);
        width: 124px;
    }
    65% {
        color: #ffffff;
        font-size: 14px;
        width: 124px;
    }
    66%{
        color: transparent;
        font-size: 0;
    }
    to {
        width: 48px;
    }
}
/** FAB end **/