/* #oc-lcw.ms-Stack webchat__stacked-layout_container.

#ms_lcw_webchat_root.webchat__surface webchat--css-szyrp-j7qwjs webchat--css-szyrp-1lwigzg.webchat__chat-history-box webchat--css-szyrp-10q7rm7 webchat--css-szyrp-1c46w4a. */

.webchat__stacked-layout__status {
                display: none;
            }

